<p>Hi {{ team.name }},</p>

<p>Your pick came up in the {{ draft.name }} fantasy draft and your previously-entered conditional picks were used to make your pick.</p>

<p>Selected on your behalf was {{ pick_description }}</p>

<p>See the other picks, make your picks and contribute to the discussion using your personalised link:</p>

<a href="{{ url_for('draft_overview', draftid=draft.id, u=team.key, _external=True ) }}">{{ draft.name }} Draft Board</a>

<p>Thanks &amp; enjoy the draft!<br>
<h5>:-)</h5></p>